<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mealtype.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mealtype.description %>
</p>

<%= link_to 'Edit', edit_mealtype_path(@mealtype) %> |
<%= link_to 'Back', mealtypes_path %>
