<%= form_for @recipe, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :short_description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :short_description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :method, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :method, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :net_carbs_in_g, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :net_carbs_in_g, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :calories_in_kcal, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :calories_in_kcal, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  recipes_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
